.contact {
  position: relative;
  font-family: "Urbanist", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: hidden;
  // overflow-y: hidden;
  // overflow-x: hidden;
}

.contactField {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactBackground {
  position: relative;
  background: #fff;
  min-height: 600px;
  width: 600px;  
  background: linear-gradient(
    to right bottom,
    rgba(186, 183, 183, 0.2),
    rgba(186, 183, 183, 0.1)
  );
  backdrop-filter: blur(20px);
  border-radius: 10px;
  z-index: 5;
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 5px 0 rgba(22, 22, 22, 0.1);
}

.contactTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  color: white;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 10px;
  border-top: 5px solid rgba(255, 255, 255, 0.1);
}

.contactText {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-inline: 20px;
  width: 100%;
}


