.skills {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px; 
    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }   
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }   
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }   
  }
  &__listItem {
    display: grid;    
    grid-template-rows: minmax(70px, auto) auto 1fr;
    text-align: center;
    gap: 20px;
    padding: 30px;
    border: 1px solid rgba(234, 179, 8, 0.4);
    border-radius: 10px;
    @media (max-width: 1200px) {
      padding: 15px;
    }
  }
  &__listIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__listTitle {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: white;
  }
  &__listText {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: white;
    margin-right: 15px;
  } 
}
