.main{
  &__inner {
    padding-top: 100px;
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-family: 'Urbanist', sans-serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 1;
  }

  &__name {
    color: rgb(203, 213, 225);
  }

  &__lastname {
    color: rgb(100, 116, 139);
  }
}
