.main {
  &__inner {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    @media (max-width: 840px) {
      grid-template-columns: 1fr;
      position: relative;
    }
    @media (max-width: 576px) {
      align-items: center;
      overflow: hidden;
    }
  }

  &__right {
    @media (max-width: 840px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.1;
    }    
  }
}
