.main {
  &__inner {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    @media (max-width: 840px) {
      grid-template-columns: 1fr;
      position: relative;
    }
    @media (max-width: 576px) {
      align-items: center;
      overflow: hidden;
    }
  }

  &__right {
    opacity: 0;
    animation: icon 3s ease 3s forwards;
    @media (max-width: 840px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.1;
    }
  }
}

@keyframes icon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
